body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.button {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 50vh;
  border: 0;
  opacity: 0.5;
}
.div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fff;
}
.animation {
  transition: all 0.4s ease-out;
}
aside {
  position: relative;
  flex: 3;
  background: #22f2f2;
  transition: all 0.4s ease-out;
}
aside div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fff;
}
main {
  position: relative;
  flex-flow: column nowrap;
  flex: 7;
  background: violet;
  transition: all 0.4s ease-out;
}
main div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #fff;
}
.down {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 50vh;
  border: 0;
  opacity: 0.5;
  right: 70%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.down:hover {
  opacity: 1;
}
.up {
  position: fixed;
  width: 40px;
  height: 40px;
  top: 50vh;
  border: 0;
  opacity: 0.5;
  left: 30%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.up:hover {
  opacity: 1;
}
