body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
}

main {
  width: 800px;
  overflow-y: scroll;
  border: 1px solid;
}

.row-content:nth-child(even) {
  background-color: #e3e3e3;
}
