body {
  --delay-time: 0.1s;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

#main {
  width: 400px;
  height: 400px;
  position: relative;
}

.child {
  position: absolute;
  left: 50%;
  overflow: visible;
}
.child > .box > div {
  width: 15px;
  height: 15px;
  border-radius: 9999px;
}
.child > .box > div:nth-child(1) {
  background-color: #fff;
  margin-bottom: 10px;
}
.child > .box > div:nth-child(2) {
  background-color: #000;
}

.child:nth-of-type(1) {
  transform: rotateZ(9deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(1) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 1) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(1) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 1)
    infinite;
}

.child:nth-of-type(2) {
  transform: rotateZ(18deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(2) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 2) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(2) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 2)
    infinite;
}

.child:nth-of-type(3) {
  transform: rotateZ(27deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(3) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 3) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(3) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 3)
    infinite;
}

.child:nth-of-type(4) {
  transform: rotateZ(36deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(4) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 4) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(4) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 4)
    infinite;
}

.child:nth-of-type(5) {
  transform: rotateZ(45deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(5) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 5) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(5) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 5)
    infinite;
}

.child:nth-of-type(6) {
  transform: rotateZ(54deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(6) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 6) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(6) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 6)
    infinite;
}

.child:nth-of-type(7) {
  transform: rotateZ(63deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(7) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 7) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(7) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 7)
    infinite;
}

.child:nth-of-type(8) {
  transform: rotateZ(72deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(8) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 8) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(8) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 8)
    infinite;
}

.child:nth-of-type(9) {
  transform: rotateZ(81deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(9) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 9) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(9) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 9)
    infinite;
}

.child:nth-of-type(10) {
  transform: rotateZ(90deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(10) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 10) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(10) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 10)
    infinite;
}

.child:nth-of-type(11) {
  transform: rotateZ(99deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(11) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 11) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(11) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 11)
    infinite;
}

.child:nth-of-type(12) {
  transform: rotateZ(108deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(12) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 12) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(12) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 12)
    infinite;
}

.child:nth-of-type(13) {
  transform: rotateZ(117deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(13) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 13) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(13) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 13)
    infinite;
}

.child:nth-of-type(14) {
  transform: rotateZ(126deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(14) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 14) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(14) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 14)
    infinite;
}

.child:nth-of-type(15) {
  transform: rotateZ(135deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(15) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 15) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(15) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 15)
    infinite;
}

.child:nth-of-type(16) {
  transform: rotateZ(144deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(16) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 16) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(16) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 16)
    infinite;
}

.child:nth-of-type(17) {
  transform: rotateZ(153deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(17) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 17) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(17) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 17)
    infinite;
}

.child:nth-of-type(18) {
  transform: rotateZ(162deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(18) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 18) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(18) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 18)
    infinite;
}

.child:nth-of-type(19) {
  transform: rotateZ(171deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(19) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 19) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(19) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 19)
    infinite;
}

.child:nth-of-type(20) {
  transform: rotateZ(180deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(20) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 20) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(20) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 20)
    infinite;
}

.child:nth-of-type(21) {
  transform: rotateZ(189deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(21) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 21) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(21) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 21)
    infinite;
}

.child:nth-of-type(22) {
  transform: rotateZ(198deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(22) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 22) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(22) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 22)
    infinite;
}

.child:nth-of-type(23) {
  transform: rotateZ(207deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(23) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 23) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(23) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 23)
    infinite;
}

.child:nth-of-type(24) {
  transform: rotateZ(216deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(24) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 24) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(24) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 24)
    infinite;
}

.child:nth-of-type(25) {
  transform: rotateZ(225deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(25) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 25) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(25) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 25)
    infinite;
}

.child:nth-of-type(26) {
  transform: rotateZ(234deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(26) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 26) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(26) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 26)
    infinite;
}

.child:nth-of-type(27) {
  transform: rotateZ(243deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(27) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 27) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(27) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 27)
    infinite;
}

.child:nth-of-type(28) {
  transform: rotateZ(252deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(28) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 28) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(28) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 28)
    infinite;
}

.child:nth-of-type(29) {
  transform: rotateZ(261deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(29) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 29) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(29) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 29)
    infinite;
}

.child:nth-of-type(30) {
  transform: rotateZ(270deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(30) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 30) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(30) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 30)
    infinite;
}

.child:nth-of-type(31) {
  transform: rotateZ(279deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(31) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 31) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(31) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 31)
    infinite;
}

.child:nth-of-type(32) {
  transform: rotateZ(288deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(32) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 32) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(32) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 32)
    infinite;
}

.child:nth-of-type(33) {
  transform: rotateZ(297deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(33) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 33) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(33) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 33)
    infinite;
}

.child:nth-of-type(34) {
  transform: rotateZ(306deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(34) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 34) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(34) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 34)
    infinite;
}

.child:nth-of-type(35) {
  transform: rotateZ(315deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(35) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 35) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(35) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 35)
    infinite;
}

.child:nth-of-type(36) {
  transform: rotateZ(324deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(36) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 36) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(36) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 36)
    infinite;
}

.child:nth-of-type(37) {
  transform: rotateZ(333deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(37) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 37) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(37) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 37)
    infinite;
}

.child:nth-of-type(38) {
  transform: rotateZ(342deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(38) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 38) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(38) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 38)
    infinite;
}

.child:nth-of-type(39) {
  transform: rotateZ(351deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(39) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 39) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(39) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 39)
    infinite;
}

.child:nth-of-type(40) {
  transform: rotateZ(360deg) translateX(-100%);
  transform-origin: 50% 200px;
  perspective: 45px;
  transform-style: preserve-3d;
}
.child:nth-of-type(40) > .box {
  animation: rotateAnimation 2s ease calc(-1 * var(--delay-time) * 40) infinite;
  perspective: 100px;
  transform-style: preserve-3d;
}
.child:nth-of-type(40) > .box > div {
  transform-origin: 50% 50%;
  animation: childRotateAnimation 2s ease calc(-1 * var(--delay-time) * 40)
    infinite;
}

@keyframes rotateAnimation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes childRotateAnimation {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-360deg);
  }
}

/*# sourceMappingURL=style.css.map */
