body {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: blueviolet;
  flex-flow: row nowrap;
  width: 100vw;
  height: 100vh;
}

.box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 300px;
  background: transparent;
  color: #fff;
  padding: 0 30px;
}

.box i,
.number {
  font-size: 96px;
  text-shadow: #fff 0px 0px 5px;
  user-select: none;
  text-emphasis-color: red;
  background-clip: content-box;
}
.describle {
  text-shadow: #fff 0px 0px 5px;
  user-select: none;
}
