:root {
  font-size: 16px;
}

body {
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-template-columns: minmax(100px, 20vw) 1fr;
  overflow: hidden;
}
h2 {
  text-align: center;
}

nav {
  height: 100vh;
  border-right: 1px solid;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  cursor: pointer;
  background-color: #fff;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 10px 0 0 10px;
}

nav ul li.selected {
  background: #0d5959;
  color: #caf7ff;
}

main iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
