body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bgc-color: #fff;
  --view-color: #000;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--bgc-color);
  width: 100vw;
  height: 100vh;
  transition: all 1s ease;
}
main.dark {
  --bgc-color: #000;
  --view-color: #fff;
}

button {
  width: 100px;
  height: 30px;
  margin-bottom: 100px;
  border-radius: 5px;
  border: 0px;
  color: var(--bgc-color);
  background-color: var(--view-color);
  transition: all 1s ease;
}
.pointer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 50% 50%;
}
.pointer > span {
  position: absolute;
  border: 0px solid;
  border-top: var(--view-color) 4px solid;
  width: 150px;
  transform-origin: 0px 1px;
  transition: transform 1s linear;
}

.pointer .point {
  position: absolute;
  border: red 4px solid;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--view-color);
  transition: all 1s ease;
}

.pointer > .hour {
  width: 75px;
}

.pointer > .second {
  border-color: red;
  transform: translateX(50%) translateY(2px) rotate(-80deg);
}
.time {
  color: var(--view-color);
  text-align: center;
  font-size: 50px;
  transition: all 1s ease;
}
.date {
  color: var(--view-color);
  display: flex;
  justify-content: center;
  font-size: 12px;
  transition: all 1s ease;
}
.weekandmonth {
  opacity: 0.5;
}
.day {
  color: var(--bgc-color);
  background-color: var(--view-color);
  margin-left: 10px;
  border-radius: 50%;
  transition: all 1s ease;
}
