$imgWidth: 400px;
$imgheight: 400px;
$imgScale: 4;
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #743dc2;
}

.upload {
  font-size: 1.5rem;
  margin-bottom: 40px;
  color: #fff;

  input {
    font-size: inherit;
  }
}

.container {
  display: flex;
  position: relative;
  width: $imgWidth;
  height: $imgheight;
  left: -200px;

  &:hover {
    .moveBlock,
    .magnifler {
      visibility: visible;
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px #0009;
  }

  .moveBlock {
    visibility: hidden;
    position: absolute;
    width: calc($imgWidth/$imgScale);
    height: calc($imgheight/$imgScale);
    background-color: #ff000055;
    pointer-events: none;
    border-radius: 10px;
  }

  .magnifler {
    visibility: hidden;
    border-radius: 10px;
    position: absolute;
    width: $imgWidth;
    height: $imgheight;
    left: 105%;
    box-shadow: 0 0 20px 1px #0009;
    overflow: hidden;

    .magniflerImg {
      position: absolute;
      width: $imgWidth * $imgScale;
      height: $imgheight * $imgScale;
    }
  }
}
