main {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 40px;
  text-transform: uppercase;
  border: 0;
  background-color: #80017e;
  color: #fff;
}
span {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  animation: scale 0.5s ease;
  /* 播放完动画停留在最后一帧 */
  animation-fill-mode: forwards;
  border-radius: 50%;
}

@keyframes scale {
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(3);
  }
}
