body {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: #111;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

main {
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  background-color: transparent;
}

.box {
  width: 25px;
  height: 25px;
  background-color: #1d1d1d;
  transition: all ease 2s;
  margin: 2px;
}

.box.active {
  transition: all ease-out 1ms;
  box-shadow: 0 0 5px #fff;
}
