body {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-flow: column;
  height: 100vh;
  width: 100vw;
  background-color: #7edaf2;
}

.add {
  align-self: flex-end;
  margin: 20px;
  border: 0 solid;
  color: #fff;
  background-color: #9dc867;
  padding: 10px;
}

main {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}

.textarea {
  background-color:;
  margin: 20px;
}

.textarea > .title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #9dc867;
  width: 100%;
  height: 50px;
}

.textarea > .title > i {
  margin-right: 10px;
}
.textarea > .content {
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  overflow: auto;
  resize: both;
  padding: 10px;
  text-indent: 2em;
  font-size: 24px;
  border: 0;
  outline: none;
}
.textarea > .content.preview {
  font-size: 20px;
  word-break: break-all;
  resize: none;
}
